@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
input[type='text'] { font-size: 14px; }

.inline-icon {
  width: 1em; /* Matches text size */
  height: 1em;
  vertical-align: middle; /* Aligns it to the text baseline */
  margin: 0 0.5em; /* Adds spacing */
}